[Unit]
Description=Autorestic backup service
[Service]
Type=oneshot
ExecStart=autorestic backup --verbose --all
ExecStartPost=autorestic forget --verbose --all
